#map {
    height: 400px;
    width: 100%;
    border-radius: 1.5rem;
    border: 1px solid #e5e7eb;
}

/* Informative Cards */
.info-card {
    @apply bg-white p-5 rounded-2xl border border-gray-100 shadow-sm cursor-pointer transition-all duration-300;
}

.info-card:hover {
    @apply shadow-xl border-blue-400 -translate-y-2;
}

.page {
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
